
.wrapper{
    padding-left: 40px;
    width: var(--width-main);
}

.wrapper h2{
    font-family: var(--font-family-h);
    font-size: var(--font-size-h2);
    text-align: center;
    color: var(--color-dark-grey);
    font-weight: 700;
}

.photo{
    display: flex;
}

.photo img{
    margin-bottom: 24px;
    margin-top: 20px;
    margin-right: 40px;
}

.photo p {
    margin-top: 20px;
    justify-content: center;
}

.additinal p{
    padding-top: 20px;
}

.additinal ul {
    list-style-type: disc;
    padding-left: 20px;
}

.contact {
    display: flex;
}

.contacts h2{
    margin-top: 24px;
}

.contact p {
    margin-left: 10px;
    margin-right: 10px;
}